
.proyec1{
    background-image: url(IMG/PROYECTOS/imagendefondoproyectos.jpg);
    background-size: 110%; 
    background-repeat: no-repeat;

}
.proyectounoContenedor{
    display: flex;
    grid-column-gap: 10px;      
    grid-row-gap: 15px;
    grid-template-columns: auto auto;
    padding: 20px;
    background-color: rgb(155, 255, 255);
    border: 7px solid rgb(255, 255, 255);
    border-radius: 40px;
    margin:10px;

}
.tabladeproyecto{
    width: 60%;
    padding-left: 3%;
}
.tabladeproyectoImagen{
    padding-left:2px;
    padding-bottom: 5px;
    width: 30%;
}
.tabladeproyectoImagen img{
    width: 280px;
    height: 300px;
}



@media screen and (max-width: 768px){
    .proyectounoContenedor{
        display: grid;
        grid-column-gap: 1px;
        grid-template-columns: auto;
        padding-left: 0px;
        padding-right: 0px;        
    }
    .lapiz{
        background-image: url(IMG/PROYECTOS/imagendefondoproyectos.jpg);
        background-size: 110%; 
        background-repeat: no-repeat;}
        .verMas{
            background-color: #f30000;
        }
        .tabladeproyectoImagen img{
            width: 240px;
            height: 300px;
            padding-left: 4%;
        }
        .tabladeproyecto{
            width: 90%;
            font-size: 20px;
            
        }
        .tabladeproyectoImagen{ 
            width: 90%;
            display: flex;
            justify-content:center;
        }
        .tabladeproyecto h1{
            text-align: center;
            display: flex;
            justify-content:center;
        }
        .tabladeproyecto h2{
            text-align: center;
        }
    }

/*inio de enlace (boton) ver más*/

.verMas{
    
    padding: 3px;
    background-color: rgb(250, 148, 211);
    border-radius: 10px;
    border: 3px solid rgb(255, 251, 251);
    text-decoration: none;
    color: black;
    
}

.verMas:link{
    text-decoration: none;
}
.verMas:visited{
    text-decoration: none;
}
.verMas:hover{
    background-color: rgba(127, 255, 212, 0.486);
    text-decoration: none;
}
.verMas:active{
    border-radius: 0%;
    background-color: rgb(245, 227, 129);
}
/*Fin de enlace (boton) ver más*/


.galeriaproyectos{
    padding-top: 5%;
}

.contenedorgaleriaproyectos{
    position: relative;
    color: #f30000;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bolder;
  }
  .contenedorgaleriaproyectos b{
      font-size: 2.5rem;
  }
.contenedorgaleriaproyectos::after{
	position: absolute;
    content: "";
    width: 100px;
    height: 0.30rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 3.5rem;
    background-color: #f30000;
  }

