

  .contenedordevideo{
      /*background-image: url(../IMG/foto2.jpg);*/
      background-repeat: no-repeat;
      background-size: auto;
      padding-top: 7%;
  }

  .contenido_video{
      display: grid;
      grid-column-gap: 10px;      
      grid-row-gap: 15px;
      grid-template-columns: auto auto;
      padding: 20px;
  }


.video1 , .video2 , .video3  , .video4 , .video5  , .video6 , .video7 , .video8{
    
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 1px;
    margin-right: 50px;
    margin-left: 20px;
    border-radius: 10px;
}

.video1{ background-color: rgb(127, 236, 236);} .video2{background-color: rgb(240, 150, 86);} 
.video3{background-color: rgb(241, 162, 133);} .video4{background-color: rgb(142, 179, 248);} 
.video5{background-color: rgb(241, 125, 148);} .video6{background-color: rgb(59, 224, 59);} 
.video7{background-color: rgb(214, 137, 214);} .video8{background-color: rgb(247, 230, 133);}

.titulo{
    position: relative;
    color: #1bede9;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bolder;
}
.titulo::after{
	position: absolute;
    content: "";
    width: 50px;
    height: 0.30rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 3.5rem;
    background-color: #1bede9;
}
.titulo h1{
    font-size: 3rem;
}

@media screen and (max-width: 768px){
    .contenido_video{
        display: grid;
        grid-column-gap: 1px;
        grid-template-columns: auto;
        padding: 20px;        
    
    }

    .video_descripcion{
        width: auto;
        height: auto;
    }
   
    .titulo{
        width: auto;
        height: auto;
          
    }
    .titulo{
        
        margin: auto auto auto auto;
    }

    .contenido_video{
        grid-column-gap: auto;
        padding: auto auto auto auto;
    }

    .video1 , .video2 , .video3  , .video4 , .video5  , .video6 , .video7 , .video8{
      
        margin: auto auto auto auto;
     
    }

    .video_descripcion iframe{
        width: 97%;
        height: 300px;

    }

    .contenedordevideo{
        width:auto;

    }
   
}

